*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background: #2a2a2a;
  color: #fff;
}

i,
svg {
  pointer-events: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clap-pad,
.kick-pad,
.snare-pad,
.tom-pad,
.hihat-pad,
.perc-pad,
.openhat-pad {
  width: 4rem;
  height: 4rem;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  background: #31F5CE;
}

.clap-pad.active,
.kick-pad.active,
.snare-pad.active,
.tom-pad.active,
.hihat-pad.active,
.perc-pad.active,
.openhat-pad.active {
  background: #FF9ACD;
}


.sequencer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clap-track,
.kick-track,
.snare-track,
.tom-track,
.hihat-track, 
.perc-track, 
.openhat-track {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.clap,
.kick,
.snare,
.tom,
.hihat, 
.perc, 
.openhat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background-color: #444;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
  border-radius: .5rem;
}

.mute.active {
  color: #FF6767;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
}

select {
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  background: #444;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
}

.tempo {
  margin: 3rem 3rem 0;
  width: 50%;
}
.tempo-slider {
  width: 100%;
  margin: 0.7px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

.tempo-slider:focus {
  outline: none;
}

.tempo-slider::-webkit-slider-runnable-track {
  background: #444;
  border: 0;
  width: 100%;
  height: 31px;
  border-radius: 1rem;
  cursor: pointer;
}

.tempo-slider::-webkit-slider-thumb {
  margin-top: 3.1px;
  width: 34px;
  height: 25px;
  background: #fff;
  border: 2.9px solid #dadada;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}

.tempo-slider::-moz-range-track {
  background: #444;
  border: 0;
  width: 100%;
  height: 31px;
  border-radius: 1rem;
  cursor: pointer;
}

.tempo-slider::-moz-range-thumb {
  margin-top: 3.1px;
  width: 34px;
  height: 25px;
  background: #fff;
  border: 2.9px solid #dadada;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}

.tempo p {
  font-size: 1.5rem;
  margin: 1rem 2rem 2rem;
  text-align: center;
}

@keyframes playTrack {
  from{
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}